*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
    background-image: linear-gradient( 109.6deg,  rgba(41,125,182,1) 3.6%, rgba(77,58,151,1) 51%, rgba(103,55,115,1) 92.9% );
    align-items: center;
    color: whitesmoke;
}
.location,.temperature,.description,.date{
    height: 20vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
 
}
.temperature{
    flex-direction: column;
}
.degree-section{
    display: flex;
    align-items: center;
}

.degree-section h2{
    font-size: 40px;
}
.description h1{
    font-size: 40px;
}
.location{
    font-family: 'Courgette', cursive;
    font-size: 45px;
}

