<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale = 1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
        <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename = 'styles/style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename = 'scripts.js') }}"></script>
        <title>Real Time Weather app</title>
    </head>
    <body onLoad="renderTime();">
        <div class="date">
            <h1 id="time"></h1>
        </div>

        <div class="location">
            <h1 class="location-timezone">{{ location }}</h1>
        </div>
        <div class="temperature">
            <div class="degree-section">
                <h2 class="temp-degree">{{ temp }}°</h2>
            </div>
            <div class="description">
                <h1>{{ weather }}</h1>
            </div>
        </div>
    </body>
</html>